<!DOCTYPE html>
<html>
<head>
    <title>Covid Tracking App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>
    <div class ="container-fluid text-center top-container">

        
        <dl>
            <dt>Name: {{ id }}</dt>
            <dt>Phone Number: {{ num }}</dt>
            <!-- <dt>Enter Time: {{ enter }}</dt>
            <dt>Exit Time: {{ exit }}</dt> -->
        </dl>
    </div>

    <div class="container">
        
    </div>
    
</body>
</html>