<!DOCTYPE html>
<html>
<head>
    <title>Covid Tracking App</title>
    <meta charset="utf-8" />
    <link
    rel="stylesheet"
    type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
    <div class="container-fluid text-center top-container">

    </div>
    <div class="container-fluid">
    {% include "includes/nav.html" %}
    </div>

    <div class="container-fluid text-center middle-container ">
        {% block data %}
            
        {% endblock data %}
    </div>

    <div class="container-fluid bottom-container">

    </div>

    {% include "includes/footer.html" %}

</body>
</html>
